{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Liste des commandes à exécuter {% endblock %}
{% block contenu %} 
    {% if form.valide is defined %}
            {% if form.valide == true %}
                <h1 class="alert alert-success" role="alert">{{form.message}}</h1> 
            {% else %}
                <h1 class="alert alert-success" role="alert">{{form.message}}</h1> 
            {% endif %}
            <br>
    {% endif %}
        
    <div class="row">
        <div class="col col-lg-6 md-6 sm-12">
        <h2 class="h3 mb-3 font-weight-normal">Liste des commandes en cours d'exécution :</h2>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom du poste</th>
                    <th scope="col">Adresse IP</th>
                    <th scope="col">Descriptif de la commande</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                 </tr>
            </thead>
            <tbody>
                {% for l in liste %}
                    <tr>
                      <th scope="row">{{l.nom}}</th>
                      <td scope="row">{{l.adresseIP}}</td>
                      <th scope="row">{{l.descriptif}}</th>
                      <td><a class="btn btn-info " href="index.php?page=executer-modif&ip={{l.adresseIP}}&cmd={{l.idCommande}}">Modifier</a></td>
                      <td><a class="btn btn-danger" href="index.php?page=executer&supp={{l.adresseIP}}&sup={{l.idCommande}}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
            
        <div class="col col-lg-6 md-6 sm-12">
        <h2 class="h3 mb-3 font-weight-normal">Commande à exécuter:</h2>
        <form class="form-signin" action="index.php?page=executer" method="post" enctype="application/x-www-form-urlencoded">
           <select class="form-control" name="commande">
               <option>Choisissez une commande</option>
                {% for c in commande %}
                    <option value="{{ c.id }}">{{ c.descriptif }}</option>       
                {% endfor %}
            </select>
            <br>
            <select class="form-control" name="poste">
                <option>Choisissez un poste</option>
                {% for p in poste %}
                    <option value="{{ p.adresseIP }}">{{p.libelle}} {{p.nom}} : {{ p.adresseIP }}</option>       
                {% endfor %}
            </select>
            <br>
            <br>
            <button class="btn btn-block" name="btAjouter" type="submit">Exécuter la commande</button>
        </form>
        </div>
    </div>
{% endblock %}
